node_modules/
.env
.env.*
.next/
dist/
*.log
.vscode/
backend/node_modules/
frontend/node_modules/
backend/.env
backend/.env.*
frontend/.env
frontend/.env.*
build
backend/backups/
backend/uploads/
frontend/out/
*.pack
backend/src/generated.zip
*.zip
backend/src/generated/
Chapter 1 practice questions.pdf
