-- DropForeignKey
ALTER TABLE "Account" DROP CONSTRAINT "Account_companyId_fkey";

-- DropForeignKey
ALTER TABLE "ActivityLog" DROP CONSTRAINT "ActivityLog_branchId_fkey";

-- DropForeignKey
ALTER TABLE "Bill" DROP CONSTRAINT "Bill_companyId_fkey";

-- DropForeignKey
ALTER TABLE "Branch" DROP CONSTRAINT "Branch_companyId_fkey";

-- DropForeignKey
ALTER TABLE "CostCenter" DROP CONSTRAINT "CostCenter_companyId_fkey";

-- DropForeignKey
ALTER TABLE "Customer" DROP CONSTRAINT "Customer_companyId_fkey";

-- DropForeignKey
ALTER TABLE "Employee" DROP CONSTRAINT "Employee_companyId_fkey";

-- DropForeignKey
ALTER TABLE "EmployeeAdvance" DROP CONSTRAINT "EmployeeAdvance_companyId_fkey";

-- DropForeignKey
ALTER TABLE "EmployeeExpense" DROP CONSTRAINT "EmployeeExpense_approvedById_fkey";

-- DropForeignKey
ALTER TABLE "EmployeeExpense" DROP CONSTRAINT "EmployeeExpense_companyId_fkey";

-- DropForeignKey
ALTER TABLE "EmployeeLoan" DROP CONSTRAINT "EmployeeLoan_companyId_fkey";

-- DropForeignKey
ALTER TABLE "EmployeeLoanRepayment" DROP CONSTRAINT "EmployeeLoanRepayment_companyId_fkey";

-- DropForeignKey
ALTER TABLE "Invoice" DROP CONSTRAINT "Invoice_companyId_fkey";

-- DropForeignKey
ALTER TABLE "JournalEntry" DROP CONSTRAINT "JournalEntry_companyId_fkey";

-- DropForeignKey
ALTER TABLE "JournalEntryLine" DROP CONSTRAINT "JournalEntryLine_branchId_fkey";

-- DropForeignKey
ALTER TABLE "LC" DROP CONSTRAINT "LC_companyId_fkey";

-- DropForeignKey
ALTER TABLE "Loan" DROP CONSTRAINT "Loan_companyId_fkey";

-- DropForeignKey
ALTER TABLE "PI" DROP CONSTRAINT "PI_companyId_fkey";

-- DropForeignKey
ALTER TABLE "Product" DROP CONSTRAINT "Product_companyId_fkey";

-- DropForeignKey
ALTER TABLE "Project" DROP CONSTRAINT "Project_companyId_fkey";

-- DropForeignKey
ALTER TABLE "PurchaseOrder" DROP CONSTRAINT "PurchaseOrder_companyId_fkey";

-- DropForeignKey
ALTER TABLE "Vendor" DROP CONSTRAINT "Vendor_companyId_fkey";

-- DropIndex
DROP INDEX "Branch_code_key";

-- DropIndex
DROP INDEX "Branch_companyId_code_key";

-- DropIndex
DROP INDEX "CostCenter_code_key";

-- DropIndex
DROP INDEX "EmployeeExpense_companyId_idx";

-- DropIndex
DROP INDEX "Invoice_status_idx";

-- DropIndex
DROP INDEX "Invoice_vendorId_idx";

-- DropIndex
DROP INDEX "Project_code_key";

-- DropIndex
DROP INDEX "PurchaseOrder_companyId_deletedAt_idx";

-- AlterTable
ALTER TABLE "ActivityLog" DROP COLUMN "branchId",
ALTER COLUMN "deletedAt" SET DATA TYPE TIMESTAMP(3);

-- AlterTable
ALTER TABLE "BackupLog" ALTER COLUMN "fileSize" DROP NOT NULL,
ALTER COLUMN "status" SET DEFAULT 'SUCCESS',
ALTER COLUMN "triggeredBy" DROP NOT NULL;

-- AlterTable
ALTER TABLE "Bill" ADD COLUMN     "approvedAt" TIMESTAMP(3),
ADD COLUMN     "approvedById" TEXT,
ADD COLUMN     "billDate" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
ADD COLUMN     "branchId" TEXT,
ADD COLUMN     "createdById" TEXT NOT NULL,
ADD COLUMN     "currency" TEXT NOT NULL DEFAULT 'BDT',
ADD COLUMN     "discountAmount" DOUBLE PRECISION NOT NULL DEFAULT 0,
ADD COLUMN     "exchangeRate" DOUBLE PRECISION NOT NULL DEFAULT 1,
ADD COLUMN     "rejectedById" TEXT,
ADD COLUMN     "rejectionReason" TEXT,
ADD COLUMN     "verifiedAt" TIMESTAMP(3),
ADD COLUMN     "verifiedById" TEXT;

-- AlterTable
ALTER TABLE "Branch" ADD COLUMN     "address" TEXT,
ADD COLUMN     "deletedAt" TIMESTAMP(3),
ADD COLUMN     "email" TEXT,
ADD COLUMN     "isMain" BOOLEAN NOT NULL DEFAULT false,
ADD COLUMN     "phone" TEXT,
ALTER COLUMN "code" DROP NOT NULL;

-- AlterTable
ALTER TABLE "CompanySettings" DROP COLUMN "approvalWorkflow",
DROP COLUMN "disallowFutureDates",
DROP COLUMN "lockPreviousMonths",
ADD COLUMN     "defaultBranchId" TEXT,
ADD COLUMN     "multiBranchEnabled" BOOLEAN NOT NULL DEFAULT false;

-- AlterTable
ALTER TABLE "CreditNote" ADD COLUMN     "branchId" TEXT;

-- AlterTable
ALTER TABLE "DN" ADD COLUMN     "branchId" TEXT;

-- AlterTable
ALTER TABLE "DebitNote" ADD COLUMN     "branchId" TEXT;

-- AlterTable
ALTER TABLE "Employee" DROP COLUMN "deletedAt";

-- AlterTable
ALTER TABLE "EmployeeAdvance" DROP COLUMN "deletedAt";

-- AlterTable
ALTER TABLE "EmployeeExpense" DROP COLUMN "category",
DROP COLUMN "deletedAt",
DROP COLUMN "paymentMethod",
ALTER COLUMN "status" SET DEFAULT 'PENDING',
ALTER COLUMN "companyId" DROP NOT NULL;

-- AlterTable
ALTER TABLE "EmployeeLoan" DROP COLUMN "deletedAt";

-- AlterTable
ALTER TABLE "GRN" ADD COLUMN     "branchId" TEXT;

-- AlterTable
ALTER TABLE "Invoice" ADD COLUMN     "branchId" TEXT;

-- AlterTable
ALTER TABLE "JournalEntryLine" DROP COLUMN "branchId";

-- AlterTable
ALTER TABLE "LC" ALTER COLUMN "deletedAt" SET DATA TYPE TIMESTAMP(3);

-- AlterTable
ALTER TABLE "Loan" ALTER COLUMN "deletedAt" SET DATA TYPE TIMESTAMP(3);

-- AlterTable
ALTER TABLE "Notification" DROP COLUMN "deletedAt";

-- AlterTable
ALTER TABLE "PI" ALTER COLUMN "deletedAt" SET DATA TYPE TIMESTAMP(3);

-- AlterTable
ALTER TABLE "Payment" ADD COLUMN     "branchId" TEXT;

-- AlterTable
ALTER TABLE "PayrollPayslip" DROP COLUMN "createdAt",
DROP COLUMN "updatedAt";

-- AlterTable
ALTER TABLE "Product" DROP COLUMN "exchangeRate",
DROP COLUMN "priceBDT",
ALTER COLUMN "unitType" SET NOT NULL,
ALTER COLUMN "stockAmount" SET NOT NULL,
ALTER COLUMN "stockAmount" SET DATA TYPE DOUBLE PRECISION,
ALTER COLUMN "type" SET NOT NULL;

-- AlterTable
ALTER TABLE "PurchaseOrder" ALTER COLUMN "deletedAt" SET DATA TYPE TIMESTAMP(3);

-- AlterTable
ALTER TABLE "SalesOrder" DROP COLUMN "deliveryDate",
DROP COLUMN "notes",
DROP COLUMN "totalAmount",
ADD COLUMN     "totalForeign" DOUBLE PRECISION NOT NULL DEFAULT 0,
ALTER COLUMN "id" DROP DEFAULT,
ALTER COLUMN "customerId" SET NOT NULL,
ALTER COLUMN "soDate" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "status" SET NOT NULL,
ALTER COLUMN "status" SET DEFAULT 'DRAFT',
ALTER COLUMN "totalBDT" SET NOT NULL,
ALTER COLUMN "totalBDT" SET DATA TYPE DOUBLE PRECISION,
ALTER COLUMN "currency" SET NOT NULL,
ALTER COLUMN "currency" SET DEFAULT 'BDT',
ALTER COLUMN "exchangeRate" SET NOT NULL,
ALTER COLUMN "exchangeRate" SET DATA TYPE DOUBLE PRECISION,
ALTER COLUMN "deletedAt" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "createdAt" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "updatedAt" DROP DEFAULT,
ALTER COLUMN "updatedAt" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "expectedDeliveryDate" SET DATA TYPE TIMESTAMP(3);

-- AlterTable
ALTER TABLE "SalesOrderLine" DROP COLUMN "createdAt",
DROP COLUMN "description",
DROP COLUMN "totalAmount",
DROP COLUMN "totalBDT",
DROP COLUMN "updatedAt",
ADD COLUMN     "deliveredQuantity" DOUBLE PRECISION NOT NULL DEFAULT 0,
ADD COLUMN     "invoicedQuantity" DOUBLE PRECISION NOT NULL DEFAULT 0,
ADD COLUMN     "itemDescription" TEXT NOT NULL,
ADD COLUMN     "total" DOUBLE PRECISION NOT NULL,
ALTER COLUMN "id" DROP DEFAULT,
ALTER COLUMN "quantity" SET NOT NULL,
ALTER COLUMN "quantity" SET DEFAULT 1,
ALTER COLUMN "quantity" SET DATA TYPE DOUBLE PRECISION,
ALTER COLUMN "unitPrice" SET NOT NULL,
ALTER COLUMN "unitPrice" DROP DEFAULT,
ALTER COLUMN "unitPrice" SET DATA TYPE DOUBLE PRECISION;

-- CreateTable
CREATE TABLE "_SalesOrderPurchaseOrders" (
    "A" TEXT NOT NULL,
    "B" TEXT NOT NULL
);

-- CreateTable
CREATE TABLE "_DebitNotePayments" (
    "A" TEXT NOT NULL,
    "B" TEXT NOT NULL
);

-- CreateTable
CREATE TABLE "_CreditNotePayments" (
    "A" TEXT NOT NULL,
    "B" TEXT NOT NULL
);

-- CreateIndex
CREATE UNIQUE INDEX "_SalesOrderPurchaseOrders_AB_unique" ON "_SalesOrderPurchaseOrders"("A", "B");

-- CreateIndex
CREATE INDEX "_SalesOrderPurchaseOrders_B_index" ON "_SalesOrderPurchaseOrders"("B");

-- CreateIndex
CREATE UNIQUE INDEX "_DebitNotePayments_AB_unique" ON "_DebitNotePayments"("A", "B");

-- CreateIndex
CREATE INDEX "_DebitNotePayments_B_index" ON "_DebitNotePayments"("B");

-- CreateIndex
CREATE UNIQUE INDEX "_CreditNotePayments_AB_unique" ON "_CreditNotePayments"("A", "B");

-- CreateIndex
CREATE INDEX "_CreditNotePayments_B_index" ON "_CreditNotePayments"("B");

-- CreateIndex
CREATE INDEX "Branch_companyId_idx" ON "Branch"("companyId");

-- CreateIndex
CREATE UNIQUE INDEX "Branch_companyId_name_key" ON "Branch"("companyId", "name");

-- CreateIndex
CREATE INDEX "CostCenter_companyId_idx" ON "CostCenter"("companyId");

-- CreateIndex
CREATE INDEX "CreditNote_branchId_idx" ON "CreditNote"("branchId");

-- CreateIndex
CREATE INDEX "DN_branchId_idx" ON "DN"("branchId");

-- CreateIndex
CREATE INDEX "DebitNote_branchId_idx" ON "DebitNote"("branchId");

-- CreateIndex
CREATE INDEX "GRN_branchId_idx" ON "GRN"("branchId");

-- CreateIndex
CREATE INDEX "Payment_branchId_idx" ON "Payment"("branchId");

-- CreateIndex
CREATE INDEX "Project_companyId_idx" ON "Project"("companyId");

-- AddForeignKey
ALTER TABLE "Branch" ADD CONSTRAINT "Branch_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES "Company"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LC" ADD CONSTRAINT "LC_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES "Company"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PI" ADD CONSTRAINT "PI_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES "Company"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Loan" ADD CONSTRAINT "Loan_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES "Company"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Account" ADD CONSTRAINT "Account_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES "Company"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Project" ADD CONSTRAINT "Project_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES "Company"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CostCenter" ADD CONSTRAINT "CostCenter_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES "Company"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Customer" ADD CONSTRAINT "Customer_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES "Company"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Vendor" ADD CONSTRAINT "Vendor_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES "Company"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PurchaseOrder" ADD CONSTRAINT "PurchaseOrder_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES "Company"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "GRN" ADD CONSTRAINT "GRN_branchId_fkey" FOREIGN KEY ("branchId") REFERENCES "Branch"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DN" ADD CONSTRAINT "DN_branchId_fkey" FOREIGN KEY ("branchId") REFERENCES "Branch"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Product" ADD CONSTRAINT "Product_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES "Company"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Invoice" ADD CONSTRAINT "Invoice_branchId_fkey" FOREIGN KEY ("branchId") REFERENCES "Branch"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Invoice" ADD CONSTRAINT "Invoice_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES "Company"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "JournalEntry" ADD CONSTRAINT "JournalEntry_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES "Company"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Bill" ADD CONSTRAINT "Bill_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES "Company"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Bill" ADD CONSTRAINT "Bill_branchId_fkey" FOREIGN KEY ("branchId") REFERENCES "Branch"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Bill" ADD CONSTRAINT "Bill_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Bill" ADD CONSTRAINT "Bill_verifiedById_fkey" FOREIGN KEY ("verifiedById") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Bill" ADD CONSTRAINT "Bill_approvedById_fkey" FOREIGN KEY ("approvedById") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Bill" ADD CONSTRAINT "Bill_rejectedById_fkey" FOREIGN KEY ("rejectedById") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Payment" ADD CONSTRAINT "Payment_branchId_fkey" FOREIGN KEY ("branchId") REFERENCES "Branch"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Employee" ADD CONSTRAINT "Employee_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES "Company"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EmployeeAdvance" ADD CONSTRAINT "EmployeeAdvance_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES "Company"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EmployeeLoan" ADD CONSTRAINT "EmployeeLoan_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES "Company"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EmployeeLoanRepayment" ADD CONSTRAINT "EmployeeLoanRepayment_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES "Company"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EmployeeExpense" ADD CONSTRAINT "EmployeeExpense_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES "Company"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DebitNote" ADD CONSTRAINT "DebitNote_branchId_fkey" FOREIGN KEY ("branchId") REFERENCES "Branch"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CreditNote" ADD CONSTRAINT "CreditNote_branchId_fkey" FOREIGN KEY ("branchId") REFERENCES "Branch"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_SalesOrderPurchaseOrders" ADD CONSTRAINT "_SalesOrderPurchaseOrders_A_fkey" FOREIGN KEY ("A") REFERENCES "PurchaseOrder"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_SalesOrderPurchaseOrders" ADD CONSTRAINT "_SalesOrderPurchaseOrders_B_fkey" FOREIGN KEY ("B") REFERENCES "SalesOrder"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_DebitNotePayments" ADD CONSTRAINT "_DebitNotePayments_A_fkey" FOREIGN KEY ("A") REFERENCES "DebitNote"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_DebitNotePayments" ADD CONSTRAINT "_DebitNotePayments_B_fkey" FOREIGN KEY ("B") REFERENCES "Payment"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_CreditNotePayments" ADD CONSTRAINT "_CreditNotePayments_A_fkey" FOREIGN KEY ("A") REFERENCES "CreditNote"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_CreditNotePayments" ADD CONSTRAINT "_CreditNotePayments_B_fkey" FOREIGN KEY ("B") REFERENCES "Payment"("id") ON DELETE CASCADE ON UPDATE CASCADE;

