-- DropForeignKey
ALTER TABLE "Branch" DROP CONSTRAINT "Branch_verifiedById_fkey";

-- DropForeignKey
ALTER TABLE "Branch" DROP CONSTRAINT "Branch_approvedById_fkey";

-- DropForeignKey
ALTER TABLE "FixedAsset" DROP CONSTRAINT "FixedAsset_verifiedById_fkey";

-- DropForeignKey
ALTER TABLE "FixedAsset" DROP CONSTRAINT "FixedAsset_approvedById_fkey";

-- DropIndex
DROP INDEX "User_email_idx";

-- AlterTable
ALTER TABLE "Company" DROP COLUMN "category";

-- AlterTable
ALTER TABLE "Branch" DROP COLUMN "approvedAt",
DROP COLUMN "approvedById",
DROP COLUMN "status",
DROP COLUMN "verifiedAt",
DROP COLUMN "verifiedById";

-- AlterTable
ALTER TABLE "FixedAsset" DROP COLUMN "approvedAt",
DROP COLUMN "approvedById",
DROP COLUMN "verifiedAt",
DROP COLUMN "verifiedById",
ALTER COLUMN "status" SET DEFAULT 'ACTIVE';

